<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{ modalTitle }}</h4>
  <button type="button" class="btn btn-md close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #contactForm="ngForm" (ngSubmit)="contactForm.form.valid && onSubmitContactModal()">
  <div class="modal-body">
    <div class="form-group row">
      <label for="inputState" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <shared-tag-input
          [form]="contactForm"
          [formCtrlName]="'contactType'"
          [required]="true"
          [(model)]="contact.type"
          [tagType]="'Contact'"
          [readonly]="false"
          [multiple]="false"
          [enterSubmit]="enterSubmit"></shared-tag-input>
      </div>

      <!--<div class="col-sm-10">
        <select
          id="inputState"
          class="form-control form-control-sm"
          name="type"
          [(ngModel)]="contact.type.id"
          disabled
        >
          <option disabled selected value>Select...</option>
          <option *ngFor="let tag of usableTags" [value]="tag.id">
            <span class="badge tag_category">{{ tag.value }}</span>
          </option>
        </select>
      </div>-->
    </div>
    <div class="form-group row">
      <label for="tagValue" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          (keydown)="handleKeyDown($event, contactForm)"
          type="text"
          name="name"
          class="form-control form-control-sm"
          [(ngModel)]="contact.name"
          #name="ngModel"
          [ngClass]="{
            'is-invalid': visible && (contactForm.submitted || enterSubmit) && name.invalid
          }"
          required />
        <div class="invalid-feedback" *ngIf="(contactForm.submitted || enterSubmit) && name.invalid">
          <p *ngIf="visible && name.errors?.required">Name is required</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="tagValue" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input
          (keydown)="handleKeyDown($event, contactForm)"
          type="email"
          name="email"
          class="form-control form-control-sm"
          [(ngModel)]="contact.email"
          (ngModelChange)="onEmailChange()"
          #mail="ngModel"
          [ngClass]="{
            'is-invalid': visible && (contactForm.submitted || enterSubmit) && (mail.invalid || emailInvalid)
          }"
           />
        <div class="invalid-feedback" *ngIf="(contactForm.submitted || enterSubmit) && emailInvalid">
          <p *ngIf="visible && emailInvalid && !mail.invalid">E-mail is not valid</p>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="tagValue" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input
          (keydown)="handleKeyDown($event, contactForm)"
          type="tel"
          name="phone"
          class="form-control form-control-sm"
          [(ngModel)]="contact.phone"
          #phone="ngModel"
          [ngClass]="{
            'is-invalid': visible && (contactForm.submitted || enterSubmit) && phone.invalid
          }"
          />
      </div>
    </div>
    <div class="form-group row">
      <label for="tagValue" class="col-sm-2 col-form-label">Website</label>
      <div class="col-sm-10">
        <input
          (keydown)="handleKeyDown($event, contactForm)"
          type="text"
          name="website"
          class="form-control form-control-sm"
          [(ngModel)]="contact.website"
          #website="ngModel"
          [ngClass]="{
            'is-invalid': visible && (contactForm.submitted || enterSubmit) && website.invalid
          }"
          />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-light" (click)="onCancelContactModal()">Cancel</button>
    <button type="submit" class="btn btn-success">{{ modalSubmitText }}</button>
    <!-- autoFocus a button with ngbAutofocus as attribute-->
  </div>
</form>
