<div *ngIf="movie" class="details-view">
  <div class="header-flex">
    <div class="header-details">
      <h1 class="mat-h1">{{ movie?.originalTitle }}</h1>
      <div>
        <span class="mat-subheading-2">{{ movie.yearOfProduction }}</span>
        <span class="mat-subheading-2 info-spacer"></span>
        <span class="mat-subheading-2">{{ movie.duration | durationFormat }}</span>
      </div>
      <div>
        <span class="mat-subheading-2" i18n>Directors: </span>
        <span *ngFor="let director of movie?.directors">{{ director.fullName }}</span>
      </div>
      <div style="margin: 10px"></div>
      <div class="mat-subheading-2 text-bold" i18n>German Synopsis</div>
      <div class="text-container">{{ movie?.germanSynopsis }}</div>
      <div style="margin: 10px"></div>
      <div class="mat-subheading-2 text-bold" i18n>English Synopsis</div>
      <div class="text-container">{{ movie?.englishSynopsis }}</div>
      <div style="margin: 10px"></div>
      <div class="mat-subheading-2 text-bold" i18n>Script</div>
      <div class="text-container">{{ movie?.script }}</div>
    </div>
    <gallery *ngIf="movie?.stillFiles?.length" class="still-gallery" [items]="images"></gallery>
  </div>
  <h2 class="mat-h2" style="margin-left: 1em" i18n>Details</h2>
  <div class="details-flex">
    <div class="details-grid">
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Original Title</span>
        <span>{{ movie?.originalTitle ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>English Title</span>
        <span>{{ movie?.englishTitle ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Movie Files</span>
        <app-file-display [file]="file" [fileType]="fileTypes.movieFiles" (playClicked)="play($event)" *ngFor="let file of movie?.movieFiles"></app-file-display>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>DCP Files</span>
        <app-file-display [file]="file" [fileType]="fileTypes.dcpFiles" (playClicked)="play($event)" *ngFor="let file of movie?.dcpFiles"></app-file-display>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Preview File</span>
        <app-file-display [file]="movie.previewFile" [fileType]="fileTypes.previewFile" (playClicked)="play($event)" *ngIf="movie.previewFile"></app-file-display>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Still File</span>
        <app-file-display [file]="file" [fileType]="fileTypes.stillFiles" *ngFor="let file of movie?.stillFiles"></app-file-display>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Subtitle Folder</span>
        <app-file-display [file]="file" [fileType]="fileTypes.subtitleFiles" *ngFor="let file of movie?.subtitleFiles"></app-file-display>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Directors</span>
        <div *ngFor="let director of movie?.directors; let i = index">{{ director.fullName }}{{i === movie?.directors!.length -1 ? '' : ',&nbsp;' }}</div>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Countries of Production</span> <span>{{ printTags(movie?.countriesOfProduction) }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Year of Production</span> <span>{{ movie?.yearOfProduction ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Animation Technique</span> <span>{{ printTags(movie?.animationTechniques) }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Software Used</span> <span>{{ printTags(movie?.softwareUsed) }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Keywords</span> <span>{{ printTags(movie?.keywords) }}</span>
      </div>
      <!--
      <div>
        <span class="mat-subheading-2 " i18n>German Synopsis</span>
        <span>{{movie?.germanSynopsis}}</span>
      </div>
      <div>
        <span class="mat-subheading-2 " i18n>English Synopsis</span>
        <span>{{movie?.englishSynopsis}}</span>
      </div>
      -->
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Category</span> <span>{{ printTags(movie?.submissionCategories) }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Has Dialog</span>
        <span
          ><shared-yes-no-label>{{ movie?.hasDialog }}</shared-yes-no-label></span
        >
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Has Subtitles</span>
        <span
          ><shared-yes-no-label>{{ movie?.hasSubtitles }}</shared-yes-no-label></span
        >
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Is Student Film</span>
        <span
          ><shared-yes-no-label>{{ movie?.isStudentFilm }}</shared-yes-no-label></span
        >
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Film School</span> <span>{{ movie?.filmSchool ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Animation</span> <span>{{ movie?.animation ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Editing</span> <span>{{ movie?.editing ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Sound</span> <span>{{ movie?.sound ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Music</span> <span>{{ movie?.music ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Production Company</span> <span>{{ movie?.productionCompany ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Reference Number</span> <span>{{ movie?.referenceNumber ?? 'empty' }}</span>
      </div>
      <div>
        <span class="mat-subheading-2 text-bold" i18n>Contact</span>
        <span><b>Type: </b>{{ contact?.type?.value ?? 'empty' }}</span>
        <span><b>Name: </b>{{ contact?.name ?? 'empty' }}</span>
        <span><b>Email: </b>{{ contact?.email ?? 'empty' }}</span>
        <span><b>Phone: </b>{{ contact?.phone ?? 'empty' }}</span>
        <span
          ><b>Website: </b><a *ngIf="contact?.website; else elseBlock" [href]="contact?.website">{{ contact?.website }}</a></span
        >
        <ng-template #elseBlock>
          <p>Empty</p>
        </ng-template>
      </div>
    </div>
  </div>
  <div *ngIf="currentlyPlaying" class="player-container" (click)="shutdownPlayer()">
    <div class="player" (click)="$event.stopPropagation()">
      <vm-player #vmplayer>
        <!-- Provider component is placed here. -->
        <vm-video [poster]="getFirstStillfile()">
          <!-- Why `data-src`? Lazy loading, you can always use `src` if you prefer.  -->
          <source data-src="{{ currentlyPlaying }}" type="{{ playingMimeType }}" />
          <!--       <track default kind="subtitles" src="https://media.vimejs.com/subs/english.vtt" srclang="en" label="English" /> -->
        </vm-video>

        <vm-default-ui> </vm-default-ui>
      </vm-player>
    </div>
  </div>
</div>
