:host{
  position: relative;
  display: flex;
    background-color: white;
}

:host .details-view {
  width: 100%;
  margin: 1em 2em 1em 4em;

}

:host .details-form {
  margin-top: 20px;
}

.details-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}

.label-colon:after{
  content: ':';
}
