:host{
  //height: calc(100vh - 64px - 48px - 1px); // 100vh - 64px header - 48px tabs - 1px border
  //height: calc(100vh - 64px - 1px); // 100vh - 64px header - 48px tabs - 1px border
  position: relative;
  display: flex;
  //overflow-y: scroll;
}

:host .details-view {
  width: 100%;
  margin: 1em 2em 1em 4em;

}

:host .details-form {
  margin-top: 20px;
}

.details-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}

.label-colon:after{
  content: ':';
}
