<div class="form-group form-inline input-group">
  <input class="form-control ml-2 mb-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search..." #search />
  <button class="btn btn-primary mb-2" routerLink="create">Add Movie</button>
</div>

<!-- *** NEW *** -->

<div class="table-responsive bordered-box">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%" scope="col" sortable="originalTitle" (sort)="onSort($event)">
          <div class="header-value" i18n>
            Original Title
            <div class="arrow"></div>
          </div>
        </th>
        <th style="width: 20%" scope="col" sortable="englishTitle" (sort)="onSort($event)">
          <div class="header-value" i18n>
            English Title
            <div class="arrow"></div>
          </div>
        </th>
        <th style="width: 20%" scope="col" sortable="yearOfProduction" (sort)="onSort($event)">
          <div class="header-value" i18n>
            Year of Production
            <div class="arrow"></div>
          </div>
        </th>
        <th style="width: 20%" scope="col" sortable="duration" (sort)="onSort($event)">
          <div class="header-value" i18n>
            Duration
            <div class="arrow"></div>
          </div>
        </th>
        <th style="width: 20%" scope="col" sortable="created_at" (sort)="onSort($event)">
          <div class="header-value" i18n>
            Created at
            <div class="arrow"></div>
          </div>
        </th>
        <th class="actions" scope="col">
          <div class="header-value" i18n>Actions</div>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="movies | async as movieList">
      <tr *ngFor="let movie of movieList" (click)="selectMovie(movie)">
        <td>
          <ngb-highlight [result]="movie.originalTitle" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="movie.englishTitle" [term]="searchTerm"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="movie.yearOfProduction?.toString()"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="movie.duration.toString()"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="movie.created_at.toString()"></ngb-highlight>
        </td>
        <td class="actions">
          <!-- view -->
          <button type="button" class="btn btn-primary btn-sm btn-edit" [routerLink]="[movie.id]" routerLinkActive="active-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
          </button>

          <!-- edit -->
          <button type="button" class="btn btn-primary btn-sm btn-edit" [routerLink]="['edit', movie.id]" routerLinkActive="active-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
          </button>
          <!-- delete -->
          <button type="button" class="btn btn-primary btn-sm btn-delete" (click)="openConfirmDeleteMovieModal(movie)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path
                fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2 pt-0 pb-0">
    <ngb-pagination size="sm" [collectionSize]="numberOfMovies" [(page)]="page" [pageSize]="pageSize" (pageChange)="setPage($event)"> </ngb-pagination>

    <div class="ml-3" *ngIf="loading | async">Loading...</div>

    <div>
      <select class="form-select form-select-sm" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="setPageSize($event)">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="8">8 items per page</option>
        <option [ngValue]="16">16 items per page</option>
      </select>
    </div>
  </div>
</div>

<!--
<mat-table [dataSource]="movies" role="grid" class="mat-elevation-z8 demo-table" style="width:100%;">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="originalTitle">
    <mat-header-cell *matHeaderCellDef> Original Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.originalTitle}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="movieFile">
    <mat-header-cell *matHeaderCellDef> Movie File </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.movieFile}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="previewFile">
    <mat-header-cell *matHeaderCellDef> PreviewFile </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.previewFile}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
      (click)="changeRow(row)"
      [class.row-is-clicked]="clickedRows[0] ? clickedRows[0].id === row.id : false"
      *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
-->
