<div class="home-center">
  <h1 class="main-headline" i18n>Welcome to Film Archiver & Planner!</h1>
  <div class="cards-list">
    <div class="card" [routerLink]="'/movies'">
      <img class="card-image" src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
      <p class="card-title">Movies</p>
    </div>

    <div class="card" [routerLink]="'/festivals'">
      <img class="card-image" src="https://images.pexels.com/photos/1378866/pexels-photo-1378866.jpeg?cs=srgb&dl=pexels-brett-sayles-1378866.jpg&w=1260&h=750&dpr=1" />
      <p class="card-title">Festivals</p>
    </div>
    <div></div>
    <div class="card" [routerLink]="'/directors'">
      <img class="card-image" src="https://images.pexels.com/photos/3917681/pexels-photo-3917681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
      <p class="card-title">Directors</p>
    </div>

    <div class="card" [routerLink]="'/contacts'">
      <img class="card-image" src="https://images.pexels.com/photos/323503/pexels-photo-323503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
      <p class="card-title">Contacts</p>
    </div>
  </div>

  <h1 class="sub-headline" i18n>Manage Movies, Festivals, Directors and Contacts all in one...</h1>
</div>
