<ng-select
  #tagInput
  [name]="formCtrlName"
  [(ngModel)]="model"
  [items]="items"
  [bindLabel]="bindLabel"
  groupBy="type"
  [addTagText]="addTagText"
  [multiple]="multiple"
  [addTag]="true"
  (add)="addTag($event, model)"
  (remove)="removeTag()"
  (change)="onChange($event)"
  [loading]="loading"
  [clearable]="!readonly"
  [searchable]="!readonly"
  [disabled]="readonly"
  [ngClass]="{
    className: true,
    'is-invalid': (form.submitted || enterSubmit) && invalid,
    required: required
  }"
  [class.hide-arrow]="readonly"
  [class.hide-clear]="readonly"
  [class.readonly]="readonly"
  [class.ng-select-multiple]="true"
  [class.ng-select-single]="false"
  [class.form-controll-sm]="true">
</ng-select>
<div *ngIf="(form.submitted || enterSubmit) && required && invalid" class="invalid-feedback">
  <p>Type is required</p>
</div>
