<ng-select
  [(ngModel)]="model"
  [items]="items"
  [bindLabel]="bindLabel"
  groupBy="type"
  [addTagText]="addTagText"
  [multiple]="multiple"
  [addTag]="true"
  (add)="addTag($event, model)"
  (remove)="removeTag($event, model)"
  (change)="onChange($event)"
  [loading]="loading"
  [clearable]="!readonly"
  [searchable]="!readonly"
  [disabled]="readonly"
  [ngClass]="className"
  [class.hide-arrow]="readonly"
  [class.hide-clear]="readonly"
  [class.readonly]="readonly"
  [class.ng-select-multiple]="true"
  [class.ng-select-single]="false"
  [class.form-controll-sm]="true"
  required>
</ng-select>
<div *ngIf="form.submitted && form.form.invalid && invalid" class="invalid-feedback">
  <p>Type is required</p>
</div>
