<mat-table [dataSource]="movies" role="grid" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="originalTitle">
    <mat-header-cell *matHeaderCellDef> Original Title </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.originalTitle}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="movieFile">
    <mat-header-cell *matHeaderCellDef> Movie File </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.movieFile}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="previewFile">
    <mat-header-cell *matHeaderCellDef> PreviewFile </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.previewFile}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
      (click)="changeRow(row)"
      [class.row-is-clicked]="clickedRows[0] ? clickedRows[0].id === row.id : false"
      *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
