.file-input{
  position: absolute;
  width: 0px;
  height: 0px;
}

.progress-container {
  position: relative;
  width: 387px;
}
.progress{
  margin-top: -10px;
  margin-left: 27px;
  margin-bottom: 7px;
  height: 4px;
}


.text-field{
    margin-left: -2px;
    height: 29px;
    width: 360px;
    border-color: #c8c8c8;
    background-color: #ffffff;
}

.btn-sm{
  flex: 0 0 31px;
  height: 31px;
  width: 31px;
  text-align: center;
  margin-left: -12px;
  margin-right: 10px;
  margin-bottom: 6px;

}

.btn-x{
  background-color: #ffffff;
  border-color: #c8c8c8;
  justify-content: center;
}
.x{
    color: #909090;
}