@import 'src/styles.config';

:host{
  background-color: @main-color;
  color: @accent-color;
  width: 100%;
  border-top: 2px solid @accent-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}


.loading-tabs{
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 5;
}
.loading-item{
  margin-bottom: 3px;
}
