<div class="form-container" *ngIf="movie">
  <form class="" [formGroup]="moviesForm" (ngSubmit)="onSubmit()">
    <mat-card class="card">
      <mat-card-title i18n>Required Information</mat-card-title>
      <br />
      <table>
        <td>
          <div class="row">
            <p class="description" i18n>Original Title</p>
            <input
              type="text"
              name="originalTitle"
              class="form-control form-control-sm text-field"
              placeholder="Enter Original Title"
              formControlName="originalTitle"
              required
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['originalTitle'].errors }" />
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['originalTitle'].errors">
              <p>{{ getValidationMessage('originalTitle') }}</p>
            </div>
          </div>
          <div class="row">
            <p class="description" i18n>English Title</p>
            <input
              type="text"
              name="englishTitle"
              class="form-control form-control-sm text-field"
              placeholder="Enter English Title"
              formControlName="englishTitle"
              required
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['englishTitle'].errors }" />
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['englishTitle'].errors">
              <p>{{ getValidationMessage('englishTitle') }}</p>
            </div>
          </div>
          <div [ngClass]="{ row: true, 'is-invalid': formIsSubmitted && this.moviesForm.controls['directors'].errors }">
            <p class="description" i18n>Directors</p>
            <ng-select
              class="tag-field tag-field-dropdown-mb"
              placeholder="Choose Directors..."
              [items]="directors | async"
              [multiple]="true"
              [closeOnSelect]="false"
              [searchable]="true"
              bindLabel="fullName"
              formControlName="directors"
              #directorNgSelect
              required>
            </ng-select>
            <button type="button" class="btn btn-primary btn-sm btn-x" (click)="clearDirectors()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['directors'].errors">
              <p>Directors are required</p>
            </div>
          </div>
          <div class="row">
            <p class="description" i18n>Duration</p>
            <input
              type="text"
              name="duration"
              class="form-control form-control-sm text-field"
              placeholder="Enter Duration"
              formControlName="duration"
              required
              [ngModel]="movie.duration | durationFormat"
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['duration'].errors }" />
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['duration'].errors">
              <p>{{ getValidationMessage('duration') }}</p>
            </div>
          </div>
          <div [ngClass]="{ row: true, 'is-invalid': formIsSubmitted && this.moviesForm.controls['contact'].errors }">
            <p class="description" i18n>Contact</p>
            <ng-select
              class="tag-field tag-field-dropdown-mb"
              placeholder="Choose Contact..."
              [items]="contacts | async"
              [multiple]="false"
              [closeOnSelect]="false"
              [searchable]="true"
              bindLabel="name"
              #contactNgSelect
              formControlName="contact">
            </ng-select>
            <button type="button" class="btn btn-primary btn-sm btn-x" (click)="clearContact()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['contact'].errors">
              <p>{{ getValidationMessage('contact') }}</p>
            </div>
          </div>
        </td>
        <td>
          <div class="row large-row">
            <p class="description" i18n>German Synopsis</p>
            <textarea
              type="text"
              name="germanSynopsis"
              class="form-control form-control-sm text-field large-text-field"
              placeholder="Enter German Synopsis"
              formControlName="germanSynopsis"
              required
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['germanSynopsis'].errors }"></textarea>
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['germanSynopsis'].errors">
              <p>{{ getValidationMessage('germanSynopsis') }}</p>
            </div>
          </div>
          <div class="row large-row">
            <p class="description" i18n>English Synopsis</p>
            <textarea
              type="text"
              name="englishSynopsis"
              class="form-control form-control-sm text-field large-text-field"
              placeholder="Enter English Synopsis"
              formControlName="englishSynopsis"
              required
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['englishSynopsis'].errors }"></textarea>
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['englishSynopsis'].errors">
              <p>{{ getValidationMessage('englishSynopsis') }}</p>
            </div>
          </div>
        </td>
      </table>
    </mat-card>

    <mat-card class="card">
      <fieldset class="form-group">
        <mat-card-title i18n>Files</mat-card-title>
        <br />

        <table>
          <td>
            <div class="row">
              <p class="description" i18n>Movie Files</p>
              <shared-file-upload class="file-field" controlname="movieFiles" requiredFileType="video/*" [multiple]="true"></shared-file-upload>
            </div>
            <div class="row">
              <p class="description" i18n>DCP Files</p>
              <shared-file-upload class="file-field" controlname="dcpFiles" requiredFileType="video/*" [multiple]="true"></shared-file-upload>
            </div>
            <div class="row">
              <p class="description" i18n>Still Files</p>
              <shared-file-upload class="file-field" controlname="stillFiles" requiredFileType="image/*" [multiple]="true"></shared-file-upload>
            </div>
            <div class="row">
              <p class="description" i18n>Subtitle Files</p>
              <shared-file-upload class="file-field" controlname="subtitleFiles" [multiple]="true"></shared-file-upload>
            </div>
          </td>
          <td>
            <div class="row">
              <p class="description" i18n>Preview File</p>
              <shared-file-upload class="file-field" controlname="previewFile" requiredFileType="video/*" [multiple]="false"></shared-file-upload>
            </div>
          </td>
        </table>
      </fieldset>
    </mat-card>

    <mat-card class="card">
      <mat-card-title i18n>Other</mat-card-title>
      <br />
      <table>
        <td>
          <div class="row">
            <p class="description" i18n>Countries of Prod.</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'countriesOfProduction'"
                [required]="true"
                [(model)]="movie.countriesOfProduction"
                [tagType]="'Country'"
                [readonly]="false"
                #countriesOfProductionInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm btn-x" (click)="clearCountries()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Year of Production</p>
            <input
              type="number"
              name="yearOfProduction"
              class="form-control form-control-sm text-field"
              placeholder="Enter Year of Production"
              formControlName="yearOfProduction"
              [ngClass]="{ 'is-invalid': formIsSubmitted && this.moviesForm.controls['yearOfProduction'].errors }" />
          </div>
          <div class="row invalid-feedback-row">
            <div class="custom-invalid-feedback" *ngIf="formIsSubmitted && this.moviesForm.controls['yearOfProduction'].errors">
              <p>{{ getValidationMessage('yearOfProduction') }}</p>
            </div>
          </div>
          <div class="row">
            <p class="description" i18n>Animation</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="animation" />
          </div>
          <div class="row">
            <p class="description" i18n>Editing</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="editing" />
          </div>
          <div class="row">
            <p class="description" i18n>Music</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="music" />
          </div>
          <div class="row">
            <p class="description" i18n>Sound</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="sound" />
          </div>
          <div class="row">
            <p class="description" i18n>Prod. Company</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="productionCompany" />
          </div>
          <div class="row">
            <p class="description" i18n>Reference Nr.</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="referenceNumber" />
          </div>
          <div class="row">
            <p class="description" i18n>Film School</p>
            <input type="text" class="form-control form-control-sm text-field" formControlName="filmSchool" />
          </div>
          <div class="row">
            <p class="description" i18n>Has Dialogue</p>
            <input class="form-check-input tick-box" type="checkbox" formControlName="hasDialog" />
          </div>
          <div class="row">
            <p class="description" i18n>Has Subtitles</p>
            <input class="form-check-input tick-box" type="checkbox" formControlName="hasSubtitles" />
          </div>
          <div class="row">
            <p class="description" i18n>Is Student Film</p>
            <input class="form-check-input tick-box" type="checkbox" formControlName="isStudentFilm" />
          </div>
        </td>
        <td>
          <div class="row">
            <p class="description" i18n>Animation Techn.</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'animationTechniques'"
                [required]="true"
                [(model)]="movie.animationTechniques"
                [tagType]="'Animation'"
                [readonly]="false"
                #animationTechniquesInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearAnimationTechniques()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Dialogue Lang.</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'dialogLanguages'"
                [required]="true"
                [(model)]="movie.dialogLanguages"
                [tagType]="'Language'"
                [readonly]="false"
                #dialogLanguagesInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearDialogLanguages()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Category</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'submissionCategories'"
                [required]="true"
                [(model)]="movie.submissionCategories"
                [tagType]="'Category'"
                [readonly]="false"
                #submissionCategoriesInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearCategories()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Software</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'softwareUsed'"
                [required]="true"
                [(model)]="movie.softwareUsed"
                [tagType]="'Software'"
                [readonly]="false"
                #softwareUsedInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearSoftware()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Keywords</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'keywords'"
                [required]="true"
                [(model)]="movie.keywords"
                [tagType]="'Keyword'"
                [readonly]="false"
                #keywordsInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearKeywords()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row">
            <p class="description" i18n>Selection Tags</p>
            <form #movieEditForm="ngForm" class="tag-field">
              <shared-tag-input
                [form]="movieEditForm"
                [formCtrlName]="'selectionTags'"
                [required]="true"
                [(model)]="movie.selectionTags"
                [tagType]="'Selection'"
                [readonly]="false"
                #selectionTagsInput
                [multiple]="true">
              </shared-tag-input>
            </form>
            <button type="button" class="btn btn-primary btn-sm" (click)="clearSelectionTags()">
              <p class="x">X</p>
            </button>
          </div>
          <div class="row huge-row">
            <p class="description" i18n>Script</p>
            <textarea type="text" class="form-control form-control-sm text-field huge-text-field" formControlName="script"></textarea>
          </div>
        </td>
      </table>
    </mat-card>
    <mat-card class="card">
      <div>
        <button class="btn btn-primary control-btn" type="submit" i18n>Save</button>
        <button class="btn btn-light control-btn" [routerLink]="['/movies']" i18n>Cancel</button>
      </div>
    </mat-card>
    <br />
  </form>
</div>
