<form class="" [formGroup]="directorsForm" (ngSubmit)="onSubmit()">
  <mat-card class="card">
    <mat-card-title i18n>General Information</mat-card-title>
    <br />

    <div class="row">
      <p class="description" i18n>First Name</p>
      <input type="text" class="form-control form-control-sm text-field" placeholder="required" formControlName="firstName" required />
    </div>
    <div class="row">
      <p class="description" i18n>Middle Names</p>
      <input type="text" class="form-control form-control-sm text-field" formControlName="middleName" />
    </div>
    <div class="row">
      <p class="description" i18n>Last Name</p>
      <input type="text" class="form-control form-control-sm text-field" placeholder="required" formControlName="lastName" required />
    </div>
  </mat-card>

  <mat-card class="card">
    <mat-card-title i18n>Files</mat-card-title>
    <br />
    <div class="row">
      <p class="description" i18n>English Biography</p>
      <shared-file-upload class="text-field" controlname="biographyEnglish" requiredFileType="application/pdf" [multiple]="false"></shared-file-upload>
    </div>
    <div class="row">
      <p class="description" i18n>German Biography</p>
      <shared-file-upload class="text-field" controlname="biographyGerman" requiredFileType="application/pdf" [multiple]="false"></shared-file-upload>
    </div>
    <div class="row">
      <p class="description" i18n>Filmography</p>
      <shared-file-upload class="text-field" controlname="filmography" requiredFileType="application/pdf" [multiple]="false"></shared-file-upload>
    </div>
  </mat-card>

  <mat-card class="card">
    <button class="btn btn-primary control-btn" type="submit" i18n>Save</button>
    <button class="btn btn-light control-btn" [routerLink]="['/directors']" i18n>Cancel</button>
  </mat-card>
</form>
