.details-grid {
}

.form-group > div,
.form-group > span,
.form-group > mat-form-field,
.form-group > mat-checkbox {
  margin: 10px;
  width: 240px;
}

.form-container {
  margin: 2em;

}

.form-group {
  display: flex;
  flex-flow: row wrap;
}

mat-checkbox {
}

mat-divider {
  width: 100%;
  margin: 1em 0 2em 0;
}

.success-snackbar {
  background: #3c763d;
}

.error-snackbar {
  background: #ac2925;
}
