<mat-card class="card">
  <mat-card-title>Import .csv Files</mat-card-title>
  <br />
  <div class="row">
    <label for="formFileDirectors" class="description">Directors</label>
    <div class="col-md-8 file-field">
      <input
        class="form-control form-control-sm hidden"
        [ngClass]="{
          'is-valid': isDirectorsValid && isDirectorsSubmitted,
          'is-invalid': !isDirectorsValid && isDirectorsSubmitted
        }"
        id="formFileDirectors"
        #formFileDirectors
        type="file"
        accept="text/csv,.csv"
        (change)="onFileSelected($event, 'directors')" />
      <div class="feedback valid-feedback" i18n>Imported successfully</div>
      <div class="feedback invalid-feedback">{{ directorsErrorMessage }}</div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm" (click)="formFileDirectors.value = ''; clearInput('directors')">
        <i-bs class="x" name="x"></i-bs>
      </button>
    </div>
  </div>

  <div class="row">
    <label for="formFileTags" class="description">Tags</label>
    <div class="col-md-8 file-field">
      <input
        class="form-control form-control-sm"
        [ngClass]="{
          'is-valid': isTagsValid && isTagsSubmitted,
          'is-invalid': !isTagsValid && isTagsSubmitted
        }"
        id="formFileTags"
        #formFileTags
        type="file"
        accept="text/csv,.csv"
        (change)="onFileSelected($event, 'tags')" />
      <div class="feedback valid-feedback" i18n>Imported successfully</div>
      <div class="feedback invalid-feedback">{{ tagsErrorMessage }}</div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm" (click)="formFileTags.value = ''; clearInput('tags')">
        <i-bs class="x" name="x"></i-bs>
      </button>
    </div>
  </div>

  <div class="row">
    <label for="formFileContacts" class="description">Contacts</label>
    <div class="col-md-8 file-field">
      <input
        class="form-control form-control-sm"
        [ngClass]="{
          'is-valid': isContactsValid && isContactsSubmitted,
          'is-invalid': !isContactsValid && isContactsSubmitted
        }"
        id="formFileContacts"
        #formFileContacts
        type="file"
        accept="text/csv,.csv"
        (change)="onFileSelected($event, 'contacts')" />
      <div class="feedback valid-feedback" i18n>Imported successfully</div>
      <div class="feedback invalid-feedback">{{ contactsErrorMessage }}</div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm" (click)="formFileContacts.value = ''; clearInput('contacts')">
        <i-bs class="x" name="x"></i-bs>
      </button>
    </div>
  </div>

  <div class="row">
    <label for="formFileMovies" class="description">Movies</label>

    <div class="col-md-8 file-field">
      <input
        class="form-control form-control-sm"
        [ngClass]="{
          'is-valid': isMoviesValid && isMoviesSubmitted,
          'is-invalid': !isMoviesValid && isMoviesSubmitted
        }"
        id="formFileMovies"
        #formFileMovies
        type="file"
        accept="text/csv,.csv"
        (change)="onFileSelected($event, 'movies')" />
      <div class="feedback valid-feedback" i18n>Imported successfully</div>
      <div class="feedback invalid-feedback">{{ moviesErrorMessage }}</div>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary btn-sm" (click)="formFileMovies.value = ''; clearInput('movies')">
        <i-bs class="x" name="x"></i-bs>
      </button>
    </div>
  </div>
</mat-card>

<mat-card class="card">
  <button class="btn btn-primary control-btn" type="button" (click)="importSelectedFiles()" i18n>Import Files</button>
  <button class="btn btn-light control-btn" [routerLink]="['/']" i18n>Cancel</button>
</mat-card>
