@import 'src/styles.config';

core-header:host {
  display: flex;
  flex-flow: column;
}



core-header:host .main-toolbar {
  //background-color: #0a58ca;
  //color: white;
  background-color: @main-color;

  color: @accent-color;
  border-bottom: 2px solid @accent-color;
  flex: 0 0 auto; /* apply height set by material toolbar*/
}

core-header:host .main-content {
  flex: 1 1 auto; /* take up remaining space */
}

core-header:host .main-sidenav {
  width: 200px;
}
core-header:host .main-sidenav {
}
.example-spacer {
  flex: 1 1 auto;
}

.header-logo-img:hover {
  cursor: pointer;
}

.toolbar-title{
  width: 350px;
}

.btn{
  height: inherit;
  border: 0;
  border-radius: 0px;
  font-weight: normal;
  width: 100px;
  text-align: center;
  color: @accent-color;
  background-color: transparent;
  transition: 0.2s;
}
.btn:hover{
  background-color: #f8f8f8;
  filter: brightness(100%);
}
.page-link:checked{
    background-color: transparent;
}
